<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Tere tulemast!</h1>
        <p>See on tore!!</p>
      </div>
    </main>

    <div class="container">
      <% articles.forEach(article => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= article.title %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2"><%= article.description %></div>
          <a href="articles/<%= article.slug %>" class="btn btn-primary"
            >Read More</a
          >
        </div>
      </div>
      <% }) %>
    </div>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
